* {
    color: #0a0a0a;
    font-size: 16px;
    line-height: 1.5;
    font-family: calibri, sans-serif;
}
p {
    color: #020202;
    font-size: 12px;
    line-height: 1.5;
    font-family: times new roman, serif;
    background-color: #3bf30d;
    padding: 20px;
    border: 5px solid #000;
    margin: 10px;
    display: min-content;
}



#topo {
    background-color: #04fdf1;
    padding: 10px;
    border: 5px solid #000;
    margin: 10px;
    display: block;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

#cabecalho {
    background-color: #3bf30d;
    padding: 10px;
    border: 5px solid #000;
    margin: 10px;
    display: inline-block;
    width: min-content;
}

#sobre-mim {
    background-color: #3126c9;
    padding: 10px;
    border: 5px solid #000;
    margin: 10px;
    display: inline-block;
    width: min-content;
}

#Habilidades {
    background-color: #3bf30d;
    padding: 10px;
    border: 5px solid #000;
    margin: 10px;
    display: inline-block;
    width: max-content;
}

#projetos_contato {
    background-color: #04fdf1;
    padding: 10px;
    border: 5px solid #000;
    margin: 10px;
    display: inline-block;
    width: max-content;
}

#contato {
    background-color: #3bf30d;
    padding: 10px;
    border: 5px solid #000;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: max-content;
}

#linguagens {
    background-color: #1404fd;
    padding: 10px;
    border: 5px solid #000;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: max-content;
}

.container_corpo {
    display: flex;
    flex-direction: row;
}

.container_linguagem {
    display: flex;
    flex-direction: row;
}

.container_corpo1 {
    display: flex;
    flex-direction: row;
}

.copyright {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
}